.container-forms-byshow{
    width: 650px;
    height: 250px;
    background-color: #020122;
    color: white;
    border-radius: 15px;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.button_editshows{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 153, 0, 0.904);
    border-radius: 0.5rem;
    font-weight:bolder;
    font-size: 1rem;
}

.cardReaction{
    margin: 10px;
    background-color: #fff;
    border-radius: 8mm 0mm 8mm 0mm;;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 220px;
    min-height: 200px;
    padding-bottom: 10px;
}
.like{
    box-shadow: 0 0 20px rgb(6, 126, 238);
}
.love{
    box-shadow: 0 0 20px rgb(206, 69, 69);
  }
.not-like{
    box-shadow: 0 0 20px rgb(100, 101, 102);
  }
.surprise{
    box-shadow: 0 0 20px rgb(193, 196, 30);
  }

  .container-page-reactions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
.title-page-reactions{
    font-size: 40px;
}
.cards-page-reactions{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.image-page-reactions{
    width: 100px;
    height: 100px;
}

.container-card-details-events2{
    width: 1;
}

@media screen and (max-width: 700px){
    .container-forms-byshow{
        width: 550px;
    }   
}

@media screen and (max-width: 580px){
    .container-forms-byshow{
        width: 450px;
    }   
}

@media screen and (max-width: 470px){
    .container-forms-byshow{
        width: 350px;
    }   
}