.contenedor-principal-showsby{
    width: 100%;
    min-height: 70vh;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/146/867/628/luxury-hotel-wallpaper-preview.jpg');
    background-repeat: none;
    background-size: cover;
    gap: 0.5rem;
}

.text-main-shows{
    text-shadow: -9px 5px 6px rgba(255, 255, 255, 0.9);
    color: #020122;
    font-size: 5rem;
    margin-top: 0.5rem;
}

.container-cards-showsBy{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
}