@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shalimar&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-notFound{
    width: 100%;
    background-color: #020122;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('/public/images/notFound.webp');
    justify-content: start;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

.titleNotFound{
    font-family: 'Bebas Neue', cursive;
    text-shadow: -9px 5px 6px black;
    text-align: center;
    font-size: 250px;
    color: white;
}

.subTitleNotFound{
    font-family: 'Bebas Neue', cursive;
    text-shadow: -9px 5px 6px black;
    text-align: center;
    font-size: 100px;
    color: white;
}

.buttonNotFound{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: start;
}

@media screen and (max-width: 700px){
    .buttonNotFound{
        height: 500px;
        width: 250px;
       
    }
}

@media screen and (max-width: 500px){
    .buttonNotFound{
        height: 500px;
        width: 150px;      
    }
}

@media screen and (min-width: 1800px){
    .titleNotFound{
        font-size: 300px;
    }
    
    .subTitleNotFound{
        font-size: 300px;
    }
    
    .buttonNotFound{
        height: 800px;
        width: 50%;
    }
}