*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-cities{
    background-image: url(/public/images/353018.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    flex-direction: column;
}
.container-cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem;
}
.container-input-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
}
.input-cards{
    height: 40px;
    width: 50%;
    border-radius: 10px;
}
.checkbox-cards{
    display: flex;
    gap:2rem;
    color: white;
}