*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-cities{
    background-image: url(https://www.xtrafondos.com/wallpapers/montanas-en-paisaje-verde-9041.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    flex-direction: column;
}
.container-cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem;
}
.container-input-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
    gap: 1rem;
}
.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
   }
   
   .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }
.checkbox-cards{
    display: flex;
    gap:2rem;
    color: white;
}
.container-plus{
    display: flex;
    gap: 2rem;
}
.add-city{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
@media screen and (max-width: 530px){
    .checkbox-cards{
    flex-direction: column;
    align-items: flex-end;
}
}.check-label{
    color: black;
    font-size: 1rem;
    font-weight: 600;

}
/* Hide the default checkbox */
.check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .check-label {
    display: flex;
    gap: 10px;
  }
  
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    box-shadow: #008bf8;
    background-color: rgba(16, 16, 16, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .check-label input:checked ~ .checkmark {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
    background-color: #008bf8;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-label .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
  }