@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/images/SJCM0013.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
}
.contenedor-h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Shalimar', cursive;
}
h1{
    text-shadow: -9px 5px 6px rgba(255, 255, 255, 0.9);
    color: #020122;
    font-size: 14rem;
}
h2{
    text-shadow: -9px 5px 6px rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    color: #020122;
}
.contenedor-botones{
    display: flex;
}
@media screen and (max-width: 730px){
    h1{
        font-size: 11rem;
    }
}
@media screen and (max-width: 540px){
    h1{
        font-size: 9rem;
    }
}
@media screen and (max-width: 470px){
    h1{
        font-size: 7rem;
    }
}