.conteiner-cityBy-card{
    display:flex;
    flex-direction: column;
}
.sub-img-by{
    border-radius: 10px 0 10px 0;
    object-fit: cover;
    gap: 1rem;
    width: 300px;
    height: 300px;
}
.card2{
    width: 650px;
    height: 500px;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #020122;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 0.5rem;
}
.card2 img{
    width: 100%;
    height: 50%;
    object-fit: contain;
}
.cotenedor-principal-citiesBy{
    height: 100%;
    display:flex;
    justify-content: center;
    gap: 0.7rem;
}
.buttons-cities-by{
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 120px;
}
.button-cities-edit{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 153, 0, 0.904);
    border-radius: 0.5rem;
    font-weight:bolder;
    font-size: 1rem;
}
.button-cities-delete{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    border-radius: 0.5rem;
    font-weight:bolder;
    font-size: 1rem;
}
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
  }
  
  .add-btn:hover {
    width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: rgba(52,172,207,1);
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: rgba(52,172,207,1);
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }