*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-hotels{
    background-image: url(/public/images/353018.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    flex-direction: column;
}
.container-cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem;
}

.container-search-select{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
}

.input-search{
    height: 40px;
    width: 50%;
    border-radius: 10px;
}

.select{
    height: 40px;
    width: 20%;
    border-radius: 10px;
}
@media screen and (max-width:  850px){
    .select{
        width: 23%;
    }
}

@media screen and (max-width:  760px){
    .select{
        width: 25%;
    }
}
@media screen and (max-width:  680px){
    .input-search{
        width: 40%;
    }
    .select{
        width: 30%;
    }
}

@media screen and (max-width:  570px){
    .select{
        width: 35%;
    }
}

@media screen and (max-width:  500px){
    .select{
        width: 38%;
    }
}

@media screen and (max-width:  450px){
    .select{
        width: 45%;
    }
}