*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-center{
    display: flex;
    flex-grow: 1;
}
.contenedor-ScrollToTop{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    position: sticky;
    bottom: 0;
}