@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap%27');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor-nav{
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #000000dc;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    }
.contenedor-logo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;  
}
.logo-navbar{
    height: 100px;
    width: 100px;
}
.contenedor-boton{
display: flex;
width: 50%;
gap: 3rem;
height: 50%;
align-items: center;
justify-content: center;
}
.boton-nav {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .boton-nav::before {
    margin-left: auto;
  }
  
  .boton-nav::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #1e77ca;
    display: block;
    transition: 0.5s;
  }
  
  .boton-nav:hover::after, .boton-nav:hover::before {
    width: 100%;
  }
.contenedor-lista{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
.ul-icon{
    list-style: none;
    position: relative;
}
.ul-regis{
    list-style: none;
    position: absolute;
    display: none;
    width: 100px;
    text-align: center;
    height: 3rem;
    gap: 1rem;
}
.ul-regis li{
    transform: translateX(0);
}

li {
    list-style: none
}

.navlink{
    text-decoration: none;
}

.ul-icon:hover > .ul-regis{
    display: block;  
    background-color: white;
    border-radius: 10px;
    height: 270px;
    width: 120px;
    z-index: 5;
}
.ul-icon-noadmin:hover > .ul-regis-noadmin{
    display: block;  
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    z-index: 5;
}
.ul-icon--noadmin{
    list-style: none;
    position: relative;
}
.ul-regis-noadmin{
    list-style: none;
    position: absolute;
    display: none;
    width: 100px;
    text-align: center;
    height: 3rem;
    gap: 1rem;
}
.ul-regis-noadmin li{
    transform: translateX(0);
}

.profile-image{
    border-radius: 50px;
}
.profile-text{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-left: 1rem;
}
li a{
    text-decoration: none;
    color: #020122;
}
@media screen and (max-width: 900px){
    .contenedor-nav{
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .contenedor-boton{
        flex-direction: column;
        }
}

