*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .container-input{
    background-color: rgba(0, 0, 0, 0.719);
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap:2rem;
    color: white;
} */
/* .container-input2{
    background-color: rgba(0, 0, 0, 0.719);
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap:2rem;
    color: white;
} */
/* .container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column;
    gap: 1.5em;
    font-weight: 600;
    width: 100%;
    font-size: 30px;
} */

/* .container-form-two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    flex-direction: column;
    gap: 1.5em;
    font-weight: 600;
    width: 100%;
    font-size: 30px;
} */
/* .container-button{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.container-button-form{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:  710px){
    .container-input{
        height: 100%;
        width: 400px;
        border-radius: 30px;      
}
    .container-input2{
        background-color: rgba(0, 0, 0, 0.719);
        height: 100%;
        width: 400px;
    } 
    .container-form-two{
        height: 100%;
        
    }
}
@media screen and (max-width:  400px){
    .container-input{
        width: 300px;
    }
    .container-input2{
        width: 300px;
    }
    .container-form-two{
        height: 100%;       
    }
}
*/