*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-input{
    background-color: rgba(129, 129, 116, 0.486);
    height: 70%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:2rem;
}
.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 1.5em;
    font-weight: 600;
    width: 50%;
    font-size: 30px;
    
}
.container-button{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.container-button-form{
    display: flex;
    justify-content: center;
}